<!doctype html>
{% extends "bootstrap/base.html" %}
{% block title %}
  {% if title %}
    {{ title }}
  {% else %}
    Welcome to SMH
  {% endif %}
{% endblock %}



{% block styles %}
{{ super() }}
  <meta charset="utf-8">
  <script type="text/javascript" src="{{ url_for('static', filename='style/js/jquery-2.1.4.min.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style/css/bootstrap.min.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

<!-- template code begins for all page divs -->
{% block body %}
<body background="{{ url_for('static', filename='img/bg1.jpg') }}">
<!-- navigation bar goes here -->
{% block navbar %}

<style>
body {
  padding-top: 80px;
}
</style>
<div id="navigation-bar" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand" href="/">smh</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
              {% with messages = get_flashed_messages() %}
              {% if messages %}
              <ul class=flashes>
              {% for message in messages %}
              {{ message }}
              {% endfor %}
              </ul>
              {% endif %}
              {% endwith %}
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated() %}
                <li><a href="{{ url_for('profile', nickname=current_user.nickname) }}">Dashboard</a></li>
                <li><a href="{{ url_for('posts', nickname=current_user.nickname) }}">Posts</a></li>
                <li><a href="{{ url_for('new', nickname=current_user.nickname) }}">Create</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                {% endif %}              
            </ul>
        </div>
    </div>
</div>
{% endblock %}
<body>

    <div class="container">
      <div class="row">
        <div class="col-md-8">
          {% if album %}<legend>{{ album.title }} by {{ album.author }}</legend>{% endif %}
          {% block content %}Default content until overwritten.{% endblock %}
        </div>
        <!-- this is the QUIKDASH section -->
        <div class="col-md-4"> 
            <!-- begin right side bar code -->
          <div class="col-md-3 sidebar-nav-fixed affix">
            <div class="panel panel-default">
              <div class="panel-thumbnail">


          
            </body>

<!-- endblock for block body -->
{% endblock %}