<!DOCTYPE html>
<head>
{% extends "base-allpages.html" %}
{% block content %}
<form class="form-horizontal" action="/create" method="POST">
<fieldset>

<!-- Form Name -->
<legend><div class="form-group">
  <label class="col-md-4 control-label" for="title"></label>  
  <div class="col-md-4">
  <input id="title" name="title" type="text" placeholder="untitled" class="form-control input-md" required="">
    
  </div>
</div></legend>

<!-- Text input-->


<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="body"></label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="body" name="body" placeholder="enter description here"></textarea>
  </div>
</div>
<!-- Hidden input -->

<input name="author" value="{{ current_user.nickname }}" type="hidden"/>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-primary">Submit</button>
  </div>
</div></fieldset></form>
{% endblock %}
