<!DOCTYPE html>
<html>
{% extends "base.html" %}
<head>
</head>
<body>
{% block content %}
{% with messages = get_flashed_messages() %}
{% endwith %}
<h1>My Posts</h1>
<div class="row">
          <div class="col-md-12">
            {% if post %}
              <ul>
              {% for post in post %}
              {% if post.rebin == 'false' %}
              <li><a href="/show/{{ post.id }}">{{ post.title }}</a> <a href="/edit/{{ post.id }}" class="glyphicon glyphicon-pencil"></a> <a href="/recycle/{{ post.id }}" class="glyphicon glyphicon-trash"></a></li>
              {% endif %}
              {%endfor %}
              </ul>
              {% endif %}
          </div>
</div>
{% endblock %}
</body>


